*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row1{
    width: 100%;
    height: 900px;
}

.navbar{
    margin-top: 0px;
    position:sticky!important;
    margin: 0 auto!important;
    display: flex!important;
    text-align: center!important;
    justify-content: center!important;
}

.navbar .navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
   font-size: 25px;
   color: #6A6969!important;
   margin-top: 10px;
}

.navbar-brand span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #E99C2F;
    font-size: 25px;
}

.navbar-nav{
    margin-left: 100px;
  
}

.navbar-nav li{
    margin-left: 10px;
    padding-left: 10px;
}

.navbar ul li a{
   font-size: 18px!important;
   font-family: Arial, Helvetica, sans-serif;
   color: #706e6e!important;
   font-weight: 600;
   margin-top: 10px;
  
}

.navbar ul li a:hover{
    color: #E99C2F!important;
    cursor: pointer;
    transition: all .5s ease;
 }

.active  .nav-link{
    
    color: #E99C2F!important;
 }

 .navbar .icons{
     margin-top: 10px;
 }

 .icons a{
     color: #949090;
     font-size: 20px;
     padding-right: 25px;
 }

 .icons a:hover{
    color: #E99C2F!important;
}

/*modal part*/
.top-chair img{
    width: 100px;
}

.top-chair p{
    font-size: 14px;
}

.top-chair .one{
    color: #949090;
}

.modal-footer .btn{
    background-color: #E99C2F;
    color: white;
}

.modal-footer h6{
margin-left: -100px;
}

.modal{
    width: 300px;
    float: right;
}

/*search part*/

.input{
    margin-top: 0px;
    border: 0;
    outline: 0;
    background-color: black;
    transition: all .5s ease;
    color: white;
    width: 0;
    height: 50px;
    top:0;
    left: 0;
   
}

.input-open{
width: 10vw;
margin-bottom: 0px;
top:0;
padding: 0px 10px;
left: 0;
}

/*carousel part start*/

.carousel-part{
 
    height: 90vh;
}

.carousel-text{
    margin-top: 150px;
}

.carousel-text h4{
    float: left;
    color: #998D80;
    margin-left: 0px;
}

.carousel-text h2{
    float: left;
    color: #626161;
    font-size: 38px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.carousel-text p{
    float: left;
    margin-left: 0px;
    max-width: 900px; 
   text-align: justify;
   color: #A9A7A5;
   font-size: 16px;
   margin-bottom: 20px;
}

.carousel-text h5{
    float: left;
    margin-left: 0px;
    color: #626161;

}

.carousel-text span{
    
    margin: 15px;
    color: #a59c9c;
}

.carousel-text .btn{
    float: left;
    margin-left: -200px;
}

.carousel-text .btn a{
    float: left;
    margin-top: 50px;
    text-decoration: none;
    
}

.carousel-text .btn .add{
   color: white;
   margin-left: -30px;
   background-color: #E99C2F;
   padding: 15px 30px;
   

}

.carousel-text .btn .add:hover{
  background-color: white;
  border: 1px solid #E99C2F;
  cursor: pointer;
  transition: all .3s ease;
  color: #E99C2F;
 
 }

.carousel-text .btn .more{
    color: white;
    margin-left: 5px;
    padding: 15px 30px;
    color: #E99C2F;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 
 

 .carousel-text .btn .more:hover{
    background-color:#F8F9FD;
    border: 1px solid #E99C2F;
    cursor: pointer;
    transition: all .3s ease;
    color: #E99C2F;
    padding: 15px 30px;
 }
 

 .slide-part img{
    width: 400px;
    margin-top: 80px;
}

.slide-part .img3{
    width: 450px;
    margin-top: 90px;
}

.slide-part .img2{
    width: 400px;
    margin-top: 50px;
}

.slide-part .img1{
    width: 400px;
    margin-top: 30px;
}

#carouselExampleIndicators .carousel-indicators{
    left: 0;
    top:auto;
    bottom: -100px;

}

#carouselExampleIndicators .carousel-indicators li{
    background: white;
    border-radius: 100%;
    border: 1px solid #E99C2F;
    width: 15px;
    height: 15px;


}


#carouselExampleIndicators .carousel-indicators .active{
    background-color: #E99C2F;
   
    border: 1px solid #E99C2F;
}

.carousel-details{
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

/*row1 ends*/
.row2{
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.pd-one img{
   margin-left: 60px;
}

.pd-one h5{
    text-align: center;
    color: #6e6b6b;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.pd-one h5:hover{
    color: #E99C2F;
    cursor: pointer;
    transition: .3s ease;
}
.pd-one p{
    text-align: center;
    color: #8b8888;
    font-family: Arial, Helvetica, sans-serif;
}
.pd-two{
    margin-left: 10px;
}

.pd-three{
    margin-left: -20px;
}

.pd-three h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #72706f;
    margin-bottom: 20px;
}
.pd-three h5:hover{
    color: #E99C2F;
    cursor: pointer;
    transition: .3s ease;
}
.pd-three p{
    color: #9c9999;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
   
}

.pd-three h6{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #7a7878;
    margin-bottom: 30px;
}

.pd-three span{
    
    color: #E99C2F;
}

.pd-three a{
    
    text-decoration: none!important;
    border: 1px solid #6e6b6b;
    padding: 10px 20px;
    color: #575353;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.pd-three a:hover{
   background-color:#535252;
   color: white;
   cursor: pointer;
   transition: .3s ease;
   
}

.pd-four img{
    margin-left: 30px;
}

.pd-four img{
    margin-left: 60px;
    margin-top: -40px;
 }
 
 .pd-four h5{
     text-align: center;
     color: #6e6b6b;
     margin-top: 20px;
     margin-bottom: 20px;
     
 }
 .pd-four h5:hover{
     color: #E99C2F;
     cursor: pointer;
     transition: .3s ease;
 }
 .pd-four p{
     text-align: center;
     color: #8b8888;
     font-family: Arial, Helvetica, sans-serif;
 }


 /*row2 end*/
 .row3{
     width: 100%;
     height: 1200px;
 }

 .row3 h2{
  color: #5F5B57;   
 }

 .item{
     margin-top: 100px;
 }

 .item1 .btn{
     background-color:#E99C2F;
     color: white;
     font-weight: 600;
     padding: 5px 18px;
     border-radius: 2px;
    margin-top: 10px;
     margin-left: 150px;
 }

 .item2 .btn{
    background-color:#47D93C;
    color: white;
    font-weight: 600;
    padding: 5px 18px;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 150px;
}

.item4 .btn{
    background-color:#E99C2F;
    color: white;
    font-weight: 600;
    padding: 5px 18px;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 150px;
}

.item4 img{
    margin-top: -15px;
}

.item3 img{
    margin-top: 25px;
}

.item h5{
    margin-top: 40px;
    color: #6B6764;
    margin-left: 60px;
}

.item h6{
   
    color: #6B6764;
   margin-left: 90px;
  
}

.item img{
    position:absolute;
    transition: all 1.2s ease;
    margin-top: 30px;
}

.item img:hover{
  
}

.item img:hover .item h5{
    color:#E99C2F!important;
}

.item h5:hover {
   
    color:#E99C2F!important;
    cursor: pointer;
    transition: all .5s ease;
}


.item1 img{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
}
.item2 img{
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
}
.item3 img{
    position: relative;
    margin-top: 80px;
    margin-left: 50px;
}
.item4 img{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
}


/*item top part*/


/*hover effect*/

.single-box{
    width: 237px;
    height: 320px;
    padding: 20px;
    position: relative;
    align-items: flex-end;
    transition: .5s ease;
}

.single-box:hover{
    transform: translateY(15px);
}


 
.single-box .info{
    opacity: 0;
    transform: translateY(48px);
    transition: .5s ease;
}
.single-box:hover .info{
    opacity: 1;
    width: 237px;
    height: 60px;
    background-color: #0c0b09;
    color: white;
    padding-top: 10px;
   
    margin-left: -20px;  
 }



 .info{
     margin-left: -19px!important;
 }

 .info a{
    color: white;
    text-decoration: none!important;
}

.info .shop{
   margin-left: 10px;
}

.info .heart{
    margin-left: 40px;
 }

 .info .arrow{
    margin-left: 5px;
 }

 .single-box:hover .info a{
   
    color: white;
     
 }

 .single-box:hover{
     background-color: #b8b9bd;
    opacity: .9;
     z-index: 15;
     
 }

 .single-box:hover img{
    transform:scale(1.3);
    color:#E99C2F!important;
}

/*row3 end*/

.sofa-collection{
  max-width: 1950px;
  height: 600px;
  animation: animate 16s ease-in-out infinite;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

@keyframes animate{
    0%,100%{
        background-image:url(../css/images/collection/sofa-collection-banner.jpg);
    }
    25%{
        background-image:url(../css/images/collection/table-banner.jpg);
    }

    50%{
        background-image:url(../css/images/collection/sofa-collection-banner.jpg);
    }
    75%{
        background-image:url(../css/images/collection/sofa-collection-banner.jpg);
    }
}


.overlay{
    top:0;
    left: 0;
    position: absolute;
    width: 33.4%;
    height: 100%;
    background: rgba(51,59,62,.95);
    z-index: 1;
}

.sofa-collection .sofa-details{
    color: white;
    z-index: 15;
    bottom: -180px;
    left: 20%;
}

.sofa-details h2{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sofa-details p{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 600px;
}

.sofa-details h6{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 600px;
}

.sofa-details h6 span{
   color: #E99C2F;
}

.sofa-details .btn-cart{
    background-color: #E99C2F;
    color: white;
    border: none;
    text-transform: capitalize;
    padding: 13px 40px;
    font-weight: 600;
}

/*row4 ends*/

.row5{
    width: 100%;
    height: 600px;
}
.features h2{
    color: #5F5B57;
    margin-bottom: 50px;
}
.fp{
    overflow: hidden;
   
}
.fp img{
    width: 100%;
    transition: all 1.2s ease;
    overflow: hidden;
}

.fp img:hover{
    transform:scale(1.1);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
   
}

.all-icon{
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
}

.all-icon .gs{
   color: #EFCE4A;
}

.all-icon .as{
    color: #A9A9A9;
 }
 .all-icon .review{
    color: #A9A9A9;
    margin-left: 8px;
 }

 .all-icon h6{
    margin-top: 10px;
    color: #6C6864;
 }

 .all-icon h5{
    margin-top: 10px;
    color: #6C6864;
    font-weight: 400;
 }

/*row5 ends*/

.row6{
    width: 100%;
    height: 600px;
    margin-bottom: 0px;
}

.card{
    border: 1px solid white!important;
    overflow: hidden;
}

.card-body{
    margin-top: 20px;
}

.card-body h5{
    font-size: 16px;
    color: #64605C;
    margin-left: -15px;
}



.card-body h6{
    font-size: 13px;
    color: #94918f;
    margin-left: -15px;
     
  }

  .card-body p{
    font-size: 12px;
    color: #94918f;
    margin-left: -15px;
     
  }

  .card:hover h5{
    color: #E99C2F; 
     
  }
.card img{
    position: relative;
    transition: all .9s ease;
    overflow: hidden;
}
  .card:hover img{
    transform: scale(1.1);
    overflow: hidden;
  }

  .overlay-img{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 55%;
    width: 100%;
    background: rgba(0,0,0,.3);
    opacity: 0;
  }

  .card:hover .overlay-img{
      opacity: 1;
  }

  /*row6 ends*/


.row7{

    width: 100%;
    height: 300px;
}

.owl-theme{
    display: flex;
    justify-content:space-between;

}

.section-padding{
    padding: 60px 0;
}

.single-logo {
    width: 100px;
    height: 90px;
}

/*row7 ends*/

.row8{
    width: 100%;
    height: 500px;
}

.ft h5{
color: #535250;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 40px;
}

.ft h6{
    color: #949390;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    }

.ft h6:hover{
        color:#E99C2F;
        cursor: pointer;
        transition: all .3s ease;
        margin-left: 7px;
        font-weight: 600;
        
}

.ft p{
    color: #949390;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-size: 14px;
    }

.ft input{
    position: relative;
    padding: 14px 25px;
    border: none;
    box-shadow: 0px 5px 20px rgb(201, 197, 197);
}

.ft a{
    position: absolute;
    color: #E99C2F;
    left: 77%;
    top: 30%;
    text-decoration: none;
}
.ft a:hover{
    color: #E99C2F;
}

.fb{
    padding-top: 100px;
    margin-left: 450px;
}

.fb span a{
  
    color: #A6ACB1;
    margin: 15px;
    
}
.fb span a:hover{
    cursor: pointer;
    transition: all .3s ease;
    color: #E99C2F;
    
}

.fb p{
    margin-top: 20px;
    color: #949390;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: -65px;
}
/*row8 complete*/
/*scroll part*/
.to-top a{
    position: fixed;
    padding: 5px 15px;
    font-size: 25px;
    background-color: #E99C2E;
    color: white;
    bottom: 20px;
    right: 30px;
    border-radius: 100%;
}

.to-top a:hover{
    background-color: white;
    color: #E99C2E;
    border-radius: 100%;
    cursor: pointer;
    transition: all 1.2s ease;
   scroll-behavior: smooth;
    border: 1px solid #E99C2E;
}

nav.sticky{
    position: fixed!important;
    top: 0;
    left: auto;
   min-width: 100vh!important;
}
